{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="main-content app-content">
    <section>
        <div class="section banner-4 banner-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <div class="">
                            <p class="mb-3 content-1 h5 text-white">Dashboard <span class="tx-info-dark">Listing</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    

    <section class="section bg-gray-100 bg-pattern-1" id="plans">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <div class="heading-section">
                        <div class="heading-subtitle"><b>Name:</b> {{ request.user.first_name }} &nbsp;{{ request.user.last_name }} &nbsp; &nbsp; <b>Email:</b> <span class="tx-primary tx-16 fw-semibold" >{{ request.user.email }}</span></div>
                        <div class="heading-title">Scope: <span class="tx-primary">{{ request.user.county }}</span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow-none mb-0">
                        <div class="card-body p-0">
                            <div class="table-responsive border br-7">

                               
                                <table class="table table-bordered pricing-table mb-0 table-hover border-hidden" id="myTable">
                                    <thead>
                                        <tr>
                                            <th class="w-20p bg-primary-02 border-end border-white-2">
                                                <div class="d-flex align-items-center">
                                                   <div class="flex-grow-1 text-start">
                                                        <p class="h5 mb-0 tx-primary">Title</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="bg-primary-04 border-end border-white-2">
                                                <p class="h5 mb-1 text-white">Role</p>
                                            </th>
                                            <th class="bg-primary-06 border-end border-white-2">
                                                <p class="h5 mb-1 text-white">Scope</p>
                                            </th>
                                            <th class="bg-primary-08 border-end border-white-2">
                                                <p class="h5 mb-1 text-white">Published</p>
                                            </th>
                                            <th class="bg-primary">
                                                <p class="h5 mb-1 text-white">Link</p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dashboard in dashboards %}

                                        <tr>
                                            <td class="pricing-feature fw-semibold">{{ dashboard.title }}</td>
                                            <td>{{ dashboard.role }}</td>
                                            <td>{{ dashboard.scope }}</td>
                                            <td>

                                                {% if dashboard.publish is False %}
                                                    <span class="badge bg-secondary">Not Published</span>
                                                {% else %}
                                                <span class="badge bg-primary ">Published</span>
                                                {% endif %}  
                                            </td>

                                            <td>
                                                <a href="{{ dashboard.link }}" class="btn btn-outline-primary openModal" data-id="{{ dashboard.id }}" data-link="{{ dashboard.link }}" data-bs-toggle="modal" data-bs-target="#myModal">Access Dashboard</a>

                                            </td>

                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5">No dashboards found.</td>
                                        </tr>
                                        {% endfor %}
                                       
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   


</div>




<!-- Modal Structure -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Analytics</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Dynamic iframe will be inserted here -->
                <iframe id="dynamicIframe" src="" width="100%" height="870px" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



 <!-- JavaScript to handle modal opening and closing -->
   
 <script>
    // Event listener for buttons that open the modal
    document.querySelectorAll('.openModal').forEach(button => {
        button.addEventListener('click', function() {
            // Get the dynamic link from the button's data-link attribute
            const dynamicLink = this.getAttribute('data-link');
            // Set the src of the iframe in the modal to load the URL
            document.getElementById('dynamicIframe').setAttribute('src', dynamicLink);
        });
    });


</script>


 <!-- JavaScript for Search Filter -->


{% endblock %}